/* ------------------- CONTACT ME ANIMATED BUTTON ------------------- */

.contact-animated {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #68bef7;
  box-shadow: 0 0 0 2px #68bef7;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.contact-animated svg {
  position: absolute;
  width: 24px;
  fill: #68bef7;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.contact-animated .arr-1 {
  right: 16px;
}

.contact-animated .arr-2 {
  left: -25%;
}

.contact-animated .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #68bef7;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.contact-animated .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

/* HOVER EFFECTS */
.contact-animated:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.contact-animated:hover .arr-1 {
  right: -25%;
}

.contact-animated:hover .arr-2 {
  left: 16px;
}

.contact-animated:hover .text {
  transform: translateX(12px);
}

.contact-animated:hover svg {
  fill: #212121;
}

.contact-animated:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* ACTIVE STATE */
.contact-animated:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #68bef7;
}

@media (max-width: 700px) {
  .contact-animated {
    gap: 2px;
    width: 160px;
    height: 50px;
    font-size: 10px;
  }
}